deployment:
  enabled: true

service:
  type: LoadBalancer
  annotations: {}
  spec:
    externalTrafficPolicy: Cluster

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

ports:
  web:
    port: 80
    expose:
      default: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
  traefik:
    port: 9000
    expose:
      default: true
    exposedPort: 9000
    protocol: TCP

providers:
  kubernetesCRD: {}
  kubernetesIngress: {}

logs:
  general:
    level: INFO
  access:
    enabled: true

additionalArguments:
  - "--api.insecure=true"
  - "--api.dashboard=true"

